<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ReflectWILinks.ProcessParameters" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <ReflectWILinks.ProcessParameters>
      <setting name="AddMissingChangesets" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AddMissingRelated" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AddMissingOtherExternal" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TargetTfsUri" serializeAs="String">
        <value>https://btmtestmigration.visualstudio.com</value>
      </setting>
      <setting name="SourceTfsUri" serializeAs="String">
        <value>http://mn4s21273:8080/tfs/WebTeam</value>
      </setting>
      <setting name="ScopeQueryGuid" serializeAs="String">
        <value>3e983292-3715-4c5e-8c37-43d6baf8ce36</value>
      </setting>
      <setting name="TargetQueryGuid" serializeAs="String">
        <value>164d7513-e460-4429-8709-dfce48047590</value>
      </setting>
      <setting name="TargetProject" serializeAs="String">
        <value>ADVC12</value>
      </setting>
      <setting name="ScopeQueryName" serializeAs="String">
        <value>All</value>
      </setting>
      <setting name="TargetQueryName" serializeAs="String">
        <value>All</value>
      </setting>
    </ReflectWILinks.ProcessParameters>
  </applicationSettings>
</configuration>